<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
  <li><strong>Fanta</strong> </li>
  <li><strong>Tea</strong></li>
  <li><strong>Milk</strong></li>
   <li><strong>Juice</strong></li>
    <li><strong>Sprite</strong></li>
</ul>
</body>
</html>